body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.color{
    color: navy;
}
section{
    display: flex;
}
half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.name-color{
    color: orangered;
}